.wrapper {
  background: url("./dw.jpg");
  display: flex;
  max-width: 100%;
  min-width: 30%;
  background-position: center;
  background-size: center;
}

h1 {
  align-self: center;
  font-weight: 300;
  color: rgb(233, 233, 233);
  font-size: 5em;
  font-family: 'Lato', sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.content {
  display: flex;
  max-width: 100%;
  min-width: 30%;
  height: 70vh;
  background-color: blue;
  justify-content: space-between;
  flex-wrap: wrap;
}

.postList {
  background-color: brown;
  margin-top: 35px;
  margin-left: 5%;
  flex-basis: 45%;
  align-self: center;
}

.properties {
  background-color: green;
  margin-top: 35px;
  margin-right: 5%;
  max-height: 300px;
  flex-basis: 35%;
}