.container {
  display: flex;
  background: #FFD62A;
  width: 100%;
  height: 280px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  background: #B02AFF;
  width: 108px;
  height: 108px;
  justify-content: flex-start;
  align-self: center;
  list-style: none;
  margin: 0px 10px 0px 0px;
}
