.container {
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
}

.item {
  width: 190px;
  height: 190px;
}

.green {
  background: #51D400;
  flex-grow: 1;
}

.yellow {
  background: #FFD62A;
  flex-grow: 3;
}

.purple {
  background: #B02AFF;
  flex-grow: 1;
}