body {
  height: 100vh;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 380px;
}

.green {
  background: #51D400;
  width: 25%;
}

.yellow {
  background: #FFD62A;
  width: 50%;
}

.purple {
  background: #B02AFF;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
  }
}
